[submodule "luasec"]
	path = src
	url = https://github.com/qlua-project/luasec
[submodule "openssl"]
	path = externals/openssl
	url = https://github.com/qlua-project/external-openssl-win64
	branch = 3.5.5
[submodule "luasocket"]
	path = externals/luasocket
	url = https://github.com/qlua-project/cmake-luasocket-win64
	branch = 5.4.1
[submodule "lua"]
	path = externals/lua
	url = https://github.com/qlua-project/cmake-lua-win64
	branch = v5.4.1
